.container{
    background-color: brown;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 20px;
    align-items: center;
}