.container{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.socialNetworks{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon{
    cursor: pointer;
}
